Repository zak10/arena-dnpbmf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arena/core-team, @arena/frontend-team, @arena/qa-team, @arena/backend-team, @arena/senior-backend, @arena/security-team, @arena/ai-team, @arena/devops-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern space-separated-owners

# Default ownership - Core team reviews any unspecified files
*                                               @arena/core-team

# Frontend ownership
src/web/**                                      @arena/frontend-team
src/web/**/__tests__/**                         @arena/qa-team @arena/frontend-team

# Backend ownership
src/backend/**                                  @arena/backend-team
src/backend/**/tests/**                         @arena/qa-team @arena/backend-team

# Core backend components - Requires senior backend and security review
src/backend/core/**                             @arena/senior-backend @arena/security-team
src/backend/core/**/tests/**                    @arena/qa-team @arena/senior-backend @arena/security-team

# Security-critical components
src/backend/core/security/**                    @arena/security-team @arena/senior-backend
src/backend/core/auth/**                        @arena/security-team @arena/senior-backend
src/backend/core/encryption/**                  @arena/security-team

# AI Integration components
src/backend/integrations/anthropic/**           @arena/ai-team @arena/security-team

# Infrastructure and deployment
infrastructure/**                               @arena/devops-team @arena/security-team
infrastructure/terraform/security/**             @arena/security-team @arena/devops-team

# CI/CD Workflows
.github/workflows/**                            @arena/devops-team @arena/security-team

# Documentation
docs/**                                         @arena/core-team

Add public-samples/arena-dnpbmf/src/backend/users/tests/test_models.py
  src/backend/users/tests/test_models.py
Owners: @arena/qa-team, @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/users/tests/test_services.py
  src/backend/users/tests/test_services.py
Owners: @arena/qa-team, @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/__init__.py
  src/backend/vendors/__init__.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/admin.py
  src/backend/vendors/admin.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/apps.py
  src/backend/vendors/apps.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/models.py
  src/backend/vendors/models.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/services.py
  src/backend/vendors/services.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/tests/__init__.py
  src/backend/vendors/tests/__init__.py
Owners: @arena/qa-team, @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/tests/factories.py
  src/backend/vendors/tests/factories.py
Owners: @arena/qa-team, @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/tests/test_models.py
  src/backend/vendors/tests/test_models.py
Owners: @arena/qa-team, @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/vendors/tests/test_services.py
  src/backend/vendors/tests/test_services.py
Owners: @arena/qa-team, @arena/backend-team

Add public-samples/arena-dnpbmf/src/web/.env.example
  src/web/.env.example
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/.eslintignore
  src/web/.eslintignore
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/.gitignore
  src/web/.gitignore
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/.prettierignore
  src/web/.prettierignore
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/.prettierrc
  src/web/.prettierrc
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/Dockerfile
  src/web/Dockerfile
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/README.md
  src/web/README.md
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/index.html
  src/web/index.html
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/jest.setup.ts
  src/web/jest.setup.ts
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/nginx.conf
  src/web/nginx.conf
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/package.json
  src/web/package.json
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/tailwind.config.js
  src/web/tailwind.config.js
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/public/logo.svg
  src/web/public/logo.svg
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/src/App.test.tsx
  src/web/src/App.test.tsx
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/src/api/auth.ts
  src/web/src/api/auth.ts
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/src/api/config.ts
  src/web/src/api/config.ts
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/src/api/proposals.ts
  src/web/src/api/proposals.ts
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/src/api/requests.ts
  src/web/src/api/requests.ts
Owners: @arena/frontend-team

Add public-samples/arena-dnpbmf/src/web/src/api/types.ts
  src/web/src/api/types.ts
Owners: @arena/frontend-team
