Repository zak10/arena-dnpbmf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arena/core-team, @arena/frontend-team, @arena/qa-team, @arena/backend-team, @arena/senior-backend, @arena/security-team, @arena/ai-team, @arena/devops-team

Add public-samples/arena-dnpbmf/src/backend/api/v1/vendors/__init__.py
  src/backend/api/v1/vendors/__init__.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/api/v1/vendors/serializers.py
  src/backend/api/v1/vendors/serializers.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/api/v1/vendors/urls.py
  src/backend/api/v1/vendors/urls.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/api/v1/vendors/views.py
  src/backend/api/v1/vendors/views.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/__init__.py
  src/backend/arena/__init__.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/asgi.py
  src/backend/arena/asgi.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/celery.py
  src/backend/arena/celery.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/urls.py
  src/backend/arena/urls.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/wsgi.py
  src/backend/arena/wsgi.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/settings/__init__.py
  src/backend/arena/settings/__init__.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/settings/base.py
  src/backend/arena/settings/base.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/settings/development.py
  src/backend/arena/settings/development.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/settings/production.py
  src/backend/arena/settings/production.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/arena/settings/staging.py
  src/backend/arena/settings/staging.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/core/__init__.py
  src/backend/core/__init__.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/apps.py
  src/backend/core/apps.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/constants.py
  src/backend/core/constants.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/exceptions.py
  src/backend/core/exceptions.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/middleware/__init__.py
  src/backend/core/middleware/__init__.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/middleware/correlation.py
  src/backend/core/middleware/correlation.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/middleware/logging.py
  src/backend/core/middleware/logging.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/middleware/timing.py
  src/backend/core/middleware/timing.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/models/__init__.py
  src/backend/core/models/__init__.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/models/base.py
  src/backend/core/models/base.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/models/mixins.py
  src/backend/core/models/mixins.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/utils/__init__.py
  src/backend/core/utils/__init__.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/utils/encryption.py
  src/backend/core/utils/encryption.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/core/utils/validators.py
  src/backend/core/utils/validators.py
Owners: @arena/senior-backend, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/docs/api.yaml
  src/backend/docs/api.yaml
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/docs/postman_collection.json
  src/backend/docs/postman_collection.json
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/docs/swagger.json
  src/backend/docs/swagger.json
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/integrations/__init__.py
  src/backend/integrations/__init__.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/integrations/anthropic/__init__.py
  src/backend/integrations/anthropic/__init__.py
Owners: @arena/ai-team, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/integrations/anthropic/client.py
  src/backend/integrations/anthropic/client.py
Owners: @arena/ai-team, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/integrations/anthropic/exceptions.py
  src/backend/integrations/anthropic/exceptions.py
Owners: @arena/ai-team, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/integrations/anthropic/types.py
  src/backend/integrations/anthropic/types.py
Owners: @arena/ai-team, @arena/security-team

Add public-samples/arena-dnpbmf/src/backend/integrations/aws/__init__.py
  src/backend/integrations/aws/__init__.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/integrations/aws/s3.py
  src/backend/integrations/aws/s3.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/integrations/aws/ses.py
  src/backend/integrations/aws/ses.py
Owners: @arena/backend-team

Add public-samples/arena-dnpbmf/src/backend/notifications/__init__.py
  src/backend/notifications/__init__.py
Owners: @arena/backend-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern space-separated-owners

# Default ownership - Core team reviews any unspecified files
*                                               @arena/core-team

# Frontend ownership
src/web/**                                      @arena/frontend-team
src/web/**/__tests__/**                         @arena/qa-team @arena/frontend-team

# Backend ownership
src/backend/**                                  @arena/backend-team
src/backend/**/tests/**                         @arena/qa-team @arena/backend-team

# Core backend components - Requires senior backend and security review
src/backend/core/**                             @arena/senior-backend @arena/security-team
src/backend/core/**/tests/**                    @arena/qa-team @arena/senior-backend @arena/security-team

# Security-critical components
src/backend/core/security/**                    @arena/security-team @arena/senior-backend
src/backend/core/auth/**                        @arena/security-team @arena/senior-backend
src/backend/core/encryption/**                  @arena/security-team

# AI Integration components
src/backend/integrations/anthropic/**           @arena/ai-team @arena/security-team

# Infrastructure and deployment
infrastructure/**                               @arena/devops-team @arena/security-team
infrastructure/terraform/security/**             @arena/security-team @arena/devops-team

# CI/CD Workflows
.github/workflows/**                            @arena/devops-team @arena/security-team

# Documentation
docs/**                                         @arena/core-team
